body {
    background: #0ebcc8;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #f5f2f2;
    padding: 40px 35px;
    border-radius: 20px; 
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

input {
    border: 0; outline: 0; background: #ebfffc;
    color: #555; padding: 10px 25px; height: 30px;
    border-radius: 30px; flex: 1; margin-right: 16px;
}

button {
    border: 0; outline: 0; background: #ebfffc;
    border-radius: 50%; width: 50px; height: 50px; cursor: pointer;
}

button img { width: 16px; }

.temp { font-size: 80px; font-weight: 500; }
.city { font-size: 45px; font-weight: 400; margin-top: -10px; }

.details { display: flex; justify-content: space-between; padding: 0 20px; margin-top: 50px; }
.col { display: flex; flex-direction: column; align-items: center; }